# Go相关
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# 项目二进制文件和构建目录
/bin/
/build/
/dist/

# 依赖目录
/vendor/

# IDE和编辑器配置
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env

# 操作系统临时文件
## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*

## Linux
*~
.directory
.Trash-*

# 日志文件
*.log
logs/

# 本地配置文件
config.local.yaml
*.local.yaml
*.local.yml

# 临时文件
tmp/
temp/

# 第三方服务数据
rabbitmq-container/
redis-container/

# MySQL 容器配置
# 首先标记不忽略 mysql-container 目录
!mysql-container/
# 然后忽略 mysql-container 下的所有内容
mysql-container/*
# 最后标记不忽略 init 目录
!mysql-container/init/

# node依赖
**/node_modules/
